---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Banner from "../components/Banner.astro";
import About from "../components/Abount.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Page IsaacDSC">
	<Navbar />
	<header>
		<Banner />
	</header>
	<main>
		<About />
		<Projects />
	</main>
	<Footer />
</Layout>

<style>
	* {
		padding: 0px;
	}
</style>
