---

---

<aside>
  <div class="container">
    <h5>Take a look at this project</h5>
    <button class="btn-live-demo">
      <span>
        <img src="/svg/globe-simple.svg" alt="globe-simple" />
      </span>
      Live demo
      <span>
        <img src="/svg/arrow-up-right.svg" alt="arrow-up-right" />
      </span>
    </button>
    <button class="btn-code">
      <span>
        <img src="/svg/logo-github.svg" alt="logo-github" />
      </span>
      Code
      <span>
        <img src="/svg/arrow-up-right.svg" alt="arrow-up-right" />
      </span>
    </button>
  </div>
</aside>

<style>
  button {
    cursor: pointer;
  }

  aside .container {
    padding: 32px;
    color: white;
    border-radius: 14px;
    background: var(--Color-Surface-surface-primary, #2c243b);
  }

  aside .container h5 {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    color: var(--Color-Text-text-primary, #f5f6f6);
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }

  aside .container .btn-live-demo {
    color: var(--Color-Text-primary-button-label, #f5f6f6);
    text-align: center;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    min-width: 100%;
    padding: 16px 24px;
    gap: 8px;
    border-radius: 4px;
    background-color: var(--Color-Surface-button-primary-default, #8a42db);
    border: none;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  aside .container .btn-code {
    color: var(--Color-Text-primary-button-label, #f5f6f6);
    text-align: center;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    min-width: 100%;
    padding: 16px 24px;
    gap: 8px;
    border-radius: 4px;
    background-color: var(--Color-Surface-button-primary-default, #413a4f);
    border: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
</style>
