---

---

<div class="socials-links">
  <ul>
    <li>
      <a href="/">
        <img src="/svg/logo-linkedin.svg" alt="Linkedin" />
      </a>
    </li>
    <li>
      <a href="/">
        <img src="/svg/logo-github.svg" alt="Github" />
      </a>
    </li>
    <li>
      <a href="/">
        <img src="/svg/logo-instagram.svg" alt="Instagram" />
      </a>
    </li>
  </ul>
</div>

<style>
  .socials-links {
    display: flex;
    justify-content: center;
    width: 265px;
    margin: 0;
    padding: 16px;
  }

  .socials-links ul {
    margin: 0;
    padding: 0;
  }

  .socials-links ul li {
    display: inline-flex;
    align-items: flex-center;
    margin: 2px;
    gap: 8px;
    padding: 12px;
    border-radius: 8px;
    background: var(--Color-Surface-surface-secondary, #413a4f);
  }
</style>
